cse.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="students">
<xs:complexType>
<xs:sequence>
<xs:element name="student" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence>
<xs:element name="name" type="xs:string" />
<xs:element name="PRN" type="xs:positiveInteger" />
<xs:element name="semester" type="xs:positiveInteger" />
<xs:element name="branch" type="xs:string" />
<xs:element name="mobileno." type="xs:string" />
</xs:sequence>
</xs:complexType>

</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>